name: Push Events
on: 
  schedule:
    - cron: '*/5 * * * *'
jobs:
  show-info:
    runs-on: ubuntu-latest
    steps:
      - name: Info
        run: |
          echo "This a push event on all the branches"
          
    
