name: Push Events
on: 
  push:
    branches: 
      - main
      - test
jobs:
  show-info:
    runs-on: ubuntu-latest
    steps:
      - name: Info
        run: |
          echo "This a push event on all the branches"
          
    
